<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Login</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <div class="buttons">
          <input type="submit" value="Login" class="btn solid" />
          <input type="submit" value="Cadastrar" class="btn_solid" />
        </div>
        <p class="social-text">Não é cadastrado? <a href="#">Clique aqui</a></p>
        <!-- <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div> -->
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h1>ReccosFut</h1>
        <p>Sua paixão sendo adminstrada na palma da sua mão!</p>
      </div>
      <img src="images/goal.svg" class="image" alt="" />
    </div>
  </div>
</div>
